@media (max-width:1439px) {
.container-lg {
    max-width: 1300px;      

}
.container{
    max-width: 1200px;      
    
}
.header-actions {
    
    gap: 7px;
}
.header-actions .search-box input {
  
    min-width: 150px;
    max-width: 150px;
}
.main-header .container-lg {
    max-width: 100%;
}

}