
.contact-hero-section {
  
    background: url("../../images/contact/contact-banner.png") center center / cover no-repeat;  
   
}

.contact-form-wrappper {
    padding: 100px 0;
}
.contact-header {
    text-align: center;
}
